@font-face {
  font-family: Roxbuorough CF;
  src: url("fonts/Roxborough CF.ttf");
}
#enlace-jumbo{
    color: black !important;
}
a{
    color: inherit;
    text-decoration: none;
}
.img-fluid {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 0%;
}
body {
  background-color: #d6c0b9;
}
#info-producto{
  font-family: 'Source Code Pro', monospace;
}

#header-container {
  display: block;
}
#a-logo {
  width: 25%;
}
#logo {
  width: 100%;
}
nav {
  background-color: #b0413e;
}
#newsletter{
  background-color: #b0413e;

}
main {
  padding-top: 0.5%;
  background-color: #B5968B;
}
#buscador {
  display: inline-block;
  width: 100%;
  border-radius: 50px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}
#buscador-text {
  float: left;
  width: 50%;
}
#buscador-boton {
  float: left;
}
#perfil {
  width: 5%;
  float: right;
}
footer{
    padding-top: 2%;
    color: white;
}
#footer-img{
    width: 10%;
}
#comprar{
  background-color: #b0413e;
}
